<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/auth/register">Register</a>
<br>
<a href="/auth/login">Login</a>
<br>
<a href="/protected/secret">Secret page (for registered users only!)</a>
<br>
<a href="/auth/logout">Logout</a>